@import '/styles/variables.scss';
.select {
	width: fit-content;
	padding: 5px 15px;
	margin: 5px 0;
	border: 1px solid $lightBlue;
	font-size: 1em;
	option {
		background-color: $header;
	}
}

.select:focus {
	border: 1px solid $lightBlue;
}

.select:active {
	border: 1px solid $lightBlue;
}
