@import 'variables.scss';

.pathFinder {
	display: flex;
	flex-flow: row wrap;
	width: 95%;
	height: 70%;
	margin: -15px 0;
}

.pathFinderCell {
	margin: 0;
	width: 30px;
	height: 30px;
	padding: 15px 0;
	background-color: white;
	border: 1px solid $lightBlueBorders;
	cursor: crosshair;
}

.cellClear {
	background-color: white;
}

.cellStart {
	background-color: $startGreen;
	cursor: grab;
}

.cellFinish {
	background-color: $finishRed;
	cursor: grab;
}
